<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Validation de vos justificatifs financiers</title>
</head>
<body>
    <h1>Vos justificatifs financiers ont été validés !</h1>

    <p>Bonjour {{ user.firstName }} {{ user.lastName }},</p>

    <p>Nous avons le plaisir de vous informer que vos justificatifs financiers ont été vérifiés et validés par notre équipe.</p>

    <p>Votre profil est maintenant plus complet et votre score de confiance a augmenté.</p>

    <p>Cordialement,</p>
    <p>L'équipe Toutlux</p>
</body>
</html>
