<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Refus de vos pièces d'identité</title>
</head>
<body>
    <h1>Vos pièces d'identité ont été refusées</h1>

    <p>Bonjour {{ user.firstName }} {{ user.lastName }},</p>

    <p>Nous avons examiné les pièces d'identité que vous avez soumises, mais nous n'avons pas pu les valider.</p>

    <p>Veuillez vous connecter à votre compte pour plus de détails et pour soumettre de nouvelles pièces si nécessaire.</p>

    <p>Cordialement,</p>
    <p>L'équipe Toutlux</p>
</body>
</html>
