<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Refus de vos justificatifs financiers</title>
</head>
<body>
    <h1>Vos justificatifs financiers ont été refusés</h1>

    <p>Bonjour {{ user.firstName }} {{ user.lastName }},</p>

    <p>Nous avons examiné les justificatifs financiers que vous avez soumis, mais nous n'avons pas pu les valider.</p>

    <p>Veuillez vous connecter à votre compte pour plus de détails et pour soumettre de nouveaux justificatifs si nécessaire.</p>

    <p>Cordialement,</p>
    <p>L'équipe Toutlux</p>
</body>
</html>
