<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Validation de vos pièces d'identité</title>
</head>
<body>
    <h1>Vos pièces d'identité ont été validées !</h1>

    <p>Bonjour {{ user.firstName }} {{ user.lastName }},</p>

    <p>Nous avons le plaisir de vous informer que vos pièces d'identité ont été vérifiées et validées par notre équipe.</p>

    <p>Votre profil est maintenant plus complet et votre score de confiance a augmenté.</p>

    <p>Cordialement,</p>
    <p>L'équipe Toutlux</p>
</body>
</html>
